
  
  #root {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
}

.container{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.title{
  text-align: center;
}

.to{
  position: relative;
}

.buttons{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon{
  
  opacity: 0.7;

}
