
  
  #root {
  /* max-width: 800px; */
  margin: 0 auto;
  padding: 2rem;
}

.container{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: start;
  /* overflow-x: visible; */

  
}

.title{
  text-align: center;
}

.arrow{
  padding-top: 0;
}

.to{
  position: relative;
}
.from{
  position: relative;
}


.delete{
  position: absolute;
  top: 0;
  right: 0;
  background-color: inherit;
}
.delete span{
  background-color: inherit;
  opacity: 0.6;
  padding: 10px;
}

.delete span:hover{
  background-color: inherit;
  opacity: 1;
}

.buttons{
  display: flex;
  position: absolute;
  bottom: 0;
  left: 0;
}

.icon{
  
  opacity: 0.7;

}
